<html>
    <head>
        <title>About Page</title>
    </head>
    <body>
        <h1>About Page</h1>
        <%= image_tag('adriana_lima_5-wide.jpg', size: "800x600") %>
        <%= link_to 'Home', root_path %>
    </body>
</html>